{contentType text/xml}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url n:foreach="$nodes as $node" n:if="!$node->entity->hidden">
        <loc>{route $node->id}</loc>
        <lastmod>{$node->entity->modified|date:"c"}</lastmod>
    </url>
</urlset>