<div class="breadcrumb">
    <ul>
        <li><a href="{$baseUrl}"><i class="fa fa-home"></i></a></li>
        {foreach $parents as $parent}
            <li><a href="{route $parent}">{$parent->name}</a></li>
        {/foreach}
        <li>{$node->name}</li>
    </ul>
</div>