{snippet content}
{block innerContent}
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Add Page</b>
        </div>

        <div class="panel-body">
            {control form}
        </div>
    </div>
{/block}
{/snippet}