{block title}Pages{/block}

{block content}
    <div class="row">
        <div class="col-md-4">
            {snippet tree}
                {control tree}
            {/snippet}
        </div>

        <div class="col-md-8" n:snippet="content">

        </div>
    </div>
{/block}