<div class="row">
    {foreach $control->getColumns() as $column => $width}
        <div class="col-md-{$width}">
            <div class="panel panel-default">
                <div class="panel-heading">Column</div>
                <div class="panel-body elements-container" data-save-url="{link reorder, column => $column}">
                    {foreach $control->getColumnElements($column) as $element}
                        {control element-$element->id}
                    {/foreach}
                </div>
                <div class="panel-footer text-center">
                    {control elementTypePicker-$column}
                </div>
            </div>
        </div>
    {/foreach}
</div>