{if $control->isContainer()}
    <div class="container">
        {control elements-0}
    </div>
{else}
    <div n:class="row, isset($element->settings->row_align_items) ? $element->settings->row_align_items">
        {foreach $control->getColumns() as $column => $width}
            <div class="col-md-{$width}">
                {control elements-$column}
            </div>
        {/foreach}
    </div>
{/if}