<div class="dropdown">
    <a class="btn btn-outline-success btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="fa fa-plus"></i> {_"Add Element"} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li class="dropdown-header">{_"Choose Element Type"}</li>
        <li n:foreach="$types as $type"><a n:href="add, type => $type->key" class="ajax">{$type->label}</a></li>
    </ul>
</div>