{define block}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Block: <b>{$block->label}</b></span>
            <div class="pull-right">
                {control blockElementTypePicker-$key}
            </div>
        </div>

        <div class="panel-body elements-container" data-save-url="{link saveOrder}">
            {if empty($route->blocks[$key])}
                <div class="alert alert-info">
                    {_"This block does not contain any content elements. Begin by clicking on Add Element."}
                </div>
            {else}
                {foreach $route->blocks[$key] as $element}
                    {control elementRenderer-$element->id}
                {/foreach}
            {/if}
        </div>
    </div>
{/define}

{if !empty($blocks)}
    <div class="row">
        {foreach $blocks as $key => $block}
            <div class="col-md-{$block->columns}">
                {include #block, key => $key, block => $block}
            </div>
        {/foreach}
    </div>
{else}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>{_"Content"}</span>
            <div class="pull-right">
                {control routeElementTypePicker}
            </div>
        </div>

        <div class="panel-body elements-container" data-save-url="{link saveOrder}">
            {if empty($route->elements)}
                <div class="alert alert-info">
                    {_"This page does not contain any content elements. Begin by clicking on Add Element."}
                </div>
            {else}
                {foreach $route->elements as $element}
                    {control elementRenderer-$element->id}
                {/foreach}
            {/if}
        </div>
    </div>
{/if}