{snippet}
    {if $control->element}
        <div class="panel panel-default">
            <div class="panel-heading">
                {_"Content Element"}: <b>{$type->label}</b>

                <div class="pull-right">
                    <a href="{plink :Cms:Back:Routes:elements $control->presenter->id}" class="btn btn-outline-default btn-xs ajax">
                        <i class="fa fa-th"></i> {_"Back to Page Content"}
                    </a>

                    <div class="dropdown">
                        <a class="btn btn-outline-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-cog"></i> {_"Tools"} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="{link this, customize => NULL, visual => NULL}" class="ajax" n:if="$type->isCustomizable() && $control->customize">
                                    {_"Edit content"}
                                </a>
                            </li>
                            <li>
                                <a href="{link this, customize => true}" class="ajax" n:if="$type->isCustomizable() && !$control->customize">
                                    {_"Element Settings"}
                                </a>
                            </li>
                            <li>
                                <a href="{link this, visual => true, customize => NULL}" class="ajax">
                                    {_"Element Visual"}
                                </a>
                            </li>
                            <li>
                                <a href="{link delete}" class="ajax" data-confirm="{_"Do you want to remove this element?"}">
                                    {_"Remove element"}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                {if $control->customize}
                    {control customize}
                {elseif $control->visual}
                    {control visual}
                {else}
                    {control element}
                {/if}
            </div>
        </div>
    {else}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>{_"Page"}: <b>{$route->name}</b></span>

                <div class="pull-right">
                    <a href="{route $route->id}" class="btn btn-xs" target="_blank">
						<i class="fa fa-search"></i>
                    </a>
                    <a href="{plink edit, $route->id}" class="btn btn-outline-primary btn-xs ajax">
                        {_"Edit page"}
                    </a>
                    <div class="dropdown">
                        <a class="btn btn-outline-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-cog"></i>
                            {_"Tools"}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="{plink markAsHomepage!}" class="ajax" n:if="!$route->homepage">
                                    {_"Mark this page as homepage"}
                                </a>
                            </li>
                            <li>
                                <a href="{plink delete, $route->id}" class="ajax" data-confirm="Do you want to remove this page?">
                                    {_"Remove page"}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {control blocks}
    {/if}
{/snippet}