<div n:class="panel, $type->getPanelClass()" data-id="{$element->id}">
    <div class="panel-heading sortable-handler">
        <span><b>{if $element->name}{$element->name}{else}{$type->label}{/if}</b></span>

        <div class="pull-right dropdown">
            <a class="btn btn-outline-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-cog"></i> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="{$control->getElementsControl()->link('this', ['element' => $element->id])}" class="ajax" n:if="$type->isEditable()">
                        Edit
                    </a>
                </li>
                <li>
                    <a href="{$control->getElementsControl()->link('this', ['element' => $element->id, 'customize' => true])}" class="ajax" n:if="$type->isCustomizable()">
                        Settings
                    </a>
                </li>
                <li>
                    <a href="{$control->getElementsControl()->link('this', ['element' => $element->id, 'visual' => true, 'customize' => NULL])}" class="ajax">
                        Styling
                    </a>
                </li>
                <li>
                    <a href="{$control->getElementsControl()->link('this', ['element' => $element->id, 'visual' => NULL, 'customize' => NULL])}" class="ajax" n:if="$type->isCustomizable()">
                        Show element content
                    </a>
                </li>
                <li>
                    <a href="{link delete}" class="ajax" data-confirm="Do you want to remove this element?">
                        Remove
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel-body" n:if="$type->isPreviewable() && $preview">
        {control element:preview}
    </div>
</div>