{snippet content}
{block innerContent}
    <div class="panel panel-default">
        <div class="panel-heading">
            {_"Category"}: <b>{$entity->name}</b>

            <div class="pull-right dropdown">
                <a class="btn btn-outline-primary btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-cog"></i> {_"Tools"} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a n:href="delete!" class="ajax" data-confirm="{_"Do you want to remove this category?"}">{_"Delete category"}</a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            {control form}
        </div>
    </div>
{/block}
{/snippet}