{define #node}
    <ul>
        {foreach $nodes as $node}
            {if !$node->entity->hidden}
                <li n:class="array_key_exists($node->id, $active) ? active"><a href="{route $node}">{$node->entity->name}</a></li>

                {if count($node->children) > 0 && $showChildren}
                    {include #node, nodes => $node->children}
                {/if}
            {/if}
        {/foreach}
    </ul>
{/define}

{include #node, nodes => $nodes}